.chat {
  width: 300px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.chat-main {
  display: none;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 15px;
  background-color:  #FAFAFA;
  border-radius: 8px;
  position: relative;
}
.fadeInup {
  animation: fadeInup 0.35s ease-in-out;
}

/* chat-header begin */
.chat-header {
  display: flex;
  border-bottom: 1px solid rgb(220, 220, 220);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 16px;
}
.chat-header.is-editing {
  background-color: #EBEBEB;
}
.chat-header .before-editing,
.chat-header.is-editing .after-editing {
  display: block !important;
  margin-right: 10px;
}
.chat-header .after-editing,
.chat-header.is-editing .before-editing{
  display: none !important;
}
.input-underscroe{
  position: relative;
  flex: 1;
}
.input-underscroe::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgb(150, 150, 150);
  transform: scaleX(0);
  transition: .3s cubic-bezier(.4,0,.2,1);
}
.chat-username {
  border: none;
  font-size: 16px;
  background: inherit;
}
.chat-username:focus {
  outline: none;
}
.chat-header.is-editing .input-underscroe::after {
  transform: scaleX(1)
}
/* chat-header end */

/* chat-history begin */
.chat-history {
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: #F2F5F8;
  padding: 10px;
  overflow-y: scroll;
  min-height: 320px;
  max-height: 500px; 
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.chat-msg-content {
  padding: 16px 13px;
  border-radius: 7px;
  position: relative;
  width: 78%;
  margin-bottom: 25px;
}
.text {
  font-size: 16px;
  line-height: 26px;
}
.self-msg {
  background: #86BB71;
  float: right;
}
.chat-msg-info i {
  display: inline;
}
.online {
  color: #86BB71;
  margin: 0px 6px;
}
.self-msg::after {
  content: " ";
  border: 10px solid transparent;
  border-bottom-color: #86BB71;
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 100%;
  right: 7%;
}
.other-msg {
  background: #C5DDEB;
  float: left;
}
.other-msg::after {
  content: " ";
  border: 10px solid transparent;
  border-bottom-color: #C5DDEB;
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 100%;
  left: 7%;
}
.align-right {
  text-align: right
}
.chat-input {
  resize: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 6px;
  margin: auto 10px;
  padding: 6px 8px;
  font-size: 14px;
}
@keyframes fadeInup {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0)
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
#id-chat-toggle:checked + .chat-main {
  display: block;
}
#id-chat-toggle:checked ~ * .chat-opened{
  display: inline-block;
}
#id-chat-toggle:checked ~ * .chat-closed{
  display: none;
}

.chat-voice-main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
}
.chat.is-voicing .chat-voice-main {
  display: block;
  background: #F2F5F8;
  z-index: 10;
  text-align: center;
  border-radius: 8px;
}
.chat-voice-close-container {
  display: inline-block;
  background: rgba(240, 0, 0, .7);
  border-radius: 50%;
  text-align: center;
  padding: 20px;
  margin-top: 67%;
  transition:  box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1)
}
.chat-voice-close-container:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.08);
}
#chat-voice-close {
  color: #fff;
  transform: rotate(225deg)
}
.gray2black-hover {
  color: #757575;
  cursor: pointer;
  transition: color 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.gray2black-hover:hover {
  color: #222;
}